<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    
    <div class="jumbotron bg-white mt-5 detail-kelas">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6 mt-3 pt-3 pt-sm-0 align-self-center ">
                    <img src="/img/slider/2.jpg" alt="" width="100%" >
                </div>
                <div class="col-12 col-md-6 align-self-center  text-sm-left mt-5 align-self-center ">
                    <h1>Pendidikan Anak Masjid Syuhada</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vehicula massa in enim luctus. Rutrum arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vehicula massa in enim luctus. Rutrum arcu. Lbled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containi
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 bg-birumuda">
        <div class="container py-5">
            <div class="text-center">
                <h3 class="mb-3" >Visi & Misi Pams</h3>
                <span style="max-width: 600px; display: block;margin: auto;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.
                </span>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-sm-6 mt-3">
                    <h6>Visi PAMS</h6>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.
                </div>
                <div class="col-12 col-sm-6 mt-3">
                    <h6>Misi PAMS</h6>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.
                </div>
            </div>
        </div>
    </section>

    <section class="team py-5">
        <div class="container py-5">
            <div class="text-center">
                <h3 class="mb-3" >Meet Our Team</h3>
                <span style="max-width: 600px; display: block;margin: auto;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto.
                </span>
            </div>
            <div class="row mt-5">
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
            </div>
        </div>
    </section>

 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
