<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    
    <div class="jumbotron bg-white mt-5 detail-kelas">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6 mt-3 pt-3 pt-sm-0 align-self-center ">
                    <img src="/img/slider/2.jpg" alt="" width="100%" >
                </div>
                <div class="col-12 col-md-6 align-self-center  text-sm-left mt-5 align-self-center ">
                    <h1>Pendidikan Anak Masjid Syuhada</h1>
                    <p>
                        Pams merupakan Lembaga Pendidikan anak masjid syuhada yang sudah berdiri sejak ….. . selama … tahun pams mampu melahirkan generasi-generasi qur’ani yang berkualitas. Kelas-kelas yang dibuka menyesuaikan dengan perkembangan zaman. Tidak hanya belajar mengaji, menghafal, dan beribadah, namun juga membuka kelas coding untuk membuat game, kelasa Bahasa inggris, kelas Bahasa arab, dongeng, dan kelas kelas lainnya yang sangat menarik.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 bg-birumuda">
        <div class="container py-5">
            <div class="text-center">
                <h3 class="mb-3" >Visi & Misi Pams</h3>
                <span style="max-width: 600px; display: block;margin: auto;">
                    Berdiri pada tanggal 20 Oktober 1953 dengan visi dan misi yang masih selalu dipegang teguh. Diantaranya,
                </span>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-sm-6 mt-3">
                    <h6>Visi PAMS</h6>
                    Menjadi lembaga pengembangan pendidikan bagi anak-anak yang menekankan pada penanaman dasar-dasar keislaman. 
                </div>
                <div class="col-12 col-sm-6 mt-3">
                    <h6>Misi PAMS</h6>
                    <ul>
                        <li>
                            mendukung dan memberdayakan peran masjid Syuhada dalam pendidikan anak-anak muslim di Yogyakarta dan sekitarnya. 
                        </li>
                        <li>
                            Membentuk anak-anak muslim yang shalih dan shalihah sehingga menjadi generasi muslim yang berilmu amaliah dan beramal ilmiah. 
                        </li>
                        <li>
                            Menanam akhlak al karimah pada setiap anak muslim sehingga mempu menjadi benteng yang tangguh dalam menghadapi dinamika dan perkembangan zaman.
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <section class="team py-5">
        <div class="container py-5">
            <div class="text-center">
                <h3 class="mb-3" >Meet Our Team</h3>
                <span style="max-width: 600px; display: block;margin: auto;">
                    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum dolorum laborum sapiente officiis! Aut, recusandae eligendi. Repellat, qui architecto. -->
                </span>
            </div>
            <div class="row mt-5">
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muksin K Gole</b></span>
                   <span class="text-primary text-small">Direktur Utama</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Siti Lailaturohmah</b></span>
                   <span class="text-primary text-small">Sekretaris</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Tiyas Novatria</b></span>
                   <span class="text-primary text-small">Bendahara</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muhammad Raziq Azzaki</b></span>
                   <span class="text-primary text-small">Bidang Media</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Dwi Agμstina Setyawati</b></span>
                   <span class="text-primary text-small">Bidang Pelatihan</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Alvina Nur Maghfiroh</b></span>
                   <span class="text-primary text-small">Bidang Pendidikan</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Basyarotu Maghfiroh</b></span>
                   <span class="text-primary text-small">Bidang Pengabdian</span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 text-center mt-4">
                   <img src="/img/testi/testi-1.png" alt="" width="80px" class="rounded-circle">
                   <span class="d-block mt-2"><b>Muhammad Adzkia Pasya</b></span>
                   <span class="text-primary text-small">Bidang Pengkaderan</span>
                </div>
            </div>
        </div>
    </section>

 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
