<div class="card">
  <div class="card-body">
    <h4>Artikel Terbaru</h4>
    <hr />
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/3.JPG" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/3.JPG" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/3.JPG" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
  </div>
</div>
