
{{ range .Paginator.Pages }}
<div class="col-12 col-sm-6 col-md-4 mt-3">
  <a href="{{ .RelPermalink }}">
<div class="card" >
  <img src="{{ .Params.Thumbnail}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    <div class="row mb-2">
      <div class="col">
       Rp {{.Params.biaya}}
      </div>
      <div class="col text-primary text-right">
        {{.Params.berapapertemuan}} pertemuan
      </div>
    </div>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
</a>
</div>
{{ end }}